conf/xml/sql-list.dtd

<!DOCTYPE sql-list
[
  <!ELEMENT sql-list (sql+,parameter-list,result-list,property-list,flag-list)>
  <!ELEMENT sql (description,value,parameter-ref,result-ref?,connection-flags-ref?,statement-flags-ref?,resultset-flags-ref?)>
  <!ATTLIST sql
    id ID #REQUIRED
    dao CDATA #REQUIRED
    name CDATA #REQUIRED
    type (select | insert | update | delete | select-for-update) #REQUIRED
    implementation (mysql | oracle | postgres | odbc | all-jdbc | mock | xml | all) #REQUIRED
    validate (true | false) #REQUIRED>
  <!ELEMENT description (#PCDATA)>
  <!ELEMENT value (#PCDATA)>
  <!ELEMENT parameter-ref EMPTY>
  <!ATTLIST parameter-ref
    id IDREF #REQUIRED>
  <!ELEMENT result-ref EMPTY>
  <!ATTLIST result-ref
    id IDREF #REQUIRED>
  <!ELEMENT connection-flags-ref EMPTY>
  <!ATTLIST connection-flags-ref
    id IDREF #REQUIRED>
  <!ELEMENT statement-flags-ref EMPTY>
  <!ATTLIST statement-flags-ref
    id IDREF #REQUIRED>
  <!ELEMENT resultset-flags-ref EMPTY>
  <!ATTLIST resultset-flags-ref
    id IDREF #REQUIRED>
  <!ELEMENT parameter-list (parameter)*>
  <!ELEMENT parameter EMPTY>
  <!ATTLIST parameter
    id ID #REQUIRED
    index CDATA #REQUIRED
    type  CDATA #REQUIRED
    name  CDATA #REQUIRED
    validation-value CDATA #REQUIRED>
  <!ELEMENT result-list (result)*>
  <!ELEMENT result (property-ref)*>
  <!ATTLIST result
    id ID #REQUIRED
    class CDATA #IMPLIED
    matches (none | single | multiple) #REQUIRED
    provider CDATA #IMPLIED>
  <!ELEMENT property-ref EMPTY>
  <!ATTLIST property-ref
    id IDREF #REQUIRED>
  <!ELEMENT property-list (property)*>
  <!ELEMENT property EMPTY>
  <!ATTLIST property
    id ID #REQUIRED
    column_name CDATA #REQUIRED
    index CDATA #IMPLIED
    name CDATA #IMPLIED
    type CDATA #REQUIRED>
  <!ELEMENT flag-list (connection-flags*,statement-flags*,resultset-flags*)>
  <!ELEMENT connection-flags EMPTY>
  <!ATTLIST connection-flags
    id ID #REQUIRED
    transactionisolation (  TRANSACTION_NONE
                          | TRANSACTION_READ_COMMITTED
                          | TRANSACTION_READ_UNCOMMITTED
                          | TRANSACTION_REPEATABLE_READ
                          | TRANSACTION_SERIALIZABLE ) #REQUIRED>
  <!ELEMENT statement-flags EMPTY>
  <!ATTLIST statement-flags
    id ID #REQUIRED
    autogeneratedkeys (NO_GENERATED_KEYS | RETURN_GENERATED_KEYS) #IMPLIED
    fetchsize CDATA #IMPLIED
    maxfieldsize CDATA #IMPLIED
    maxrows CDATA #IMPLIED
    querytimeout CDATA #IMPLIED
    fetchdirection (FETCH_FORWARD | FETCH_REVERSE | FETCH_UNKNOWN) #IMPLIED
    escapeprocessing (true | false) #IMPLIED
    moreresults (CLOSE_CURRENT_RESULT | KEEP_CURRENT_RESULT | CLOSE_ALL_RESULTS) #IMPLIED
    cursorname CDATA #IMPLIED>
  <!ELEMENT resultset-flags EMPTY>
  <!ATTLIST resultset-flags
    id ID #REQUIRED
    type (TYPE_FORWARD_ONLY | TYPE_SCROLL_INSENSITIVE | TYPE_SCROLL_SENSITIVE) #IMPLIED
    concurrency (CONCUR_READ_ONLY | CONCUR_UPDATABLE) #IMPLIED
    holdability (HOLD_CURSORS_OVER_COMMIT | CLOSE_CURSORS_AT_COMMIT) #IMPLIED>
]>
